html, body 
{
	height:100%;
}
body
{
	font-family: 'Open Sans', sans-serif;
	margin-top:50px;
}
.jumbotron
{	 
	position:relative;
    background: #055 url("wellness-1021131_1920.jpg") center center;
	background-attachment:fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 0;
	z-index: 0;
}

.jumbotron video 
{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: fill;
	z-index: -1;
	display:none;
}


.jumbotron .container .wrapper 
{
	text-align:center;
}

.jumbotron h1
{
	text-align:center;
	color:rgb(255,255,255);
}

.jumbotron .btn
{
	background-image:none;
	box-shadow:none;
	outline:none;
	border:1px solid rgb(255,255,255);
	background-color:transparent;
	display:inline-block;
	margin-top:20px;
}
.navbar
{
	border:none;
}
.navbar-inverse
{
	background-image:none;
	background-color:rgb(195, 66, 163);
}
.navbar-inverse .navbar-brand 
{
    color:rgb(195,66,163);
}

.navbar-brand>img {
   max-height: 100%;
   height: 100%;
   width: auto;
   margin: 0 auto;
}

.navbar .container
{
	position:relative;
}

.logo
{
	height:50px;
	width:120px;
	background: url("BButterfly.png") center center;
	position:absolute;
	top:0;
	left:20px;
	background-size:cover;
}

.navbar-inverse .navbar-nav>li>a 
{
    color: white;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover 
{

    background-color:rgb(225, 71, 187);
}

.footer
{
	text-align:left;
}

.glyphicon
{
	font-size:50px;
	color:red;
	text-align:center;
	margin-bottom:20px;
}

.stats
{
	background-color:rgb(225, 71, 187);
	padding:40px 0;
	color:rgb(255,255,255);
	text-align: center;
}

.stats h2
{
	font-size:40px;
}

.stuff
{
	background-color:rgb(255,255,255);
	padding:40px 0;
	text-align:center;
	color:rgb(000,000,000);
}

.stuff h3
{
	font-size:40px;
}
.footersurround
{
	background-color:rgb(37,37,37);
	padding:40px 0;
	color:rgb(255,255,255);
}

.footersurround .copyright
{
	font-size:25px;
}

.caro
{
	background-color:rgb(255,255,255);
	padding:40px 0;
}

.caro h4
{
	font-size:16px;
}

.caro p
{
	font-size:12px;
}

.storymap
{
	background-color:rgb(225, 71, 187);
	padding:20px 0;
	color:rgb(255,255,255)
}

.storymap h2
{
	font-size:40px;
}

.storymap h1
{
	font-size:40px;
}

#googleMap
{
	width:100%;
	height:490px;
}

.gallery
{
	background-color:rgb(225,225,225);
	padding:40px 0;
	color:rgb(255,255,255)
}

.thumbnail
{
	position:relative;
	overflow:hidden;
}

.thumbnail .overlay
{
	position:absolute;
	height:100%;
	width:100%;
	left:0;
	top:-100%;
	transition:top 0.5s ease;
	background-color:rgba(0,0,0, 0.7);
	padding:30px;
	color:white;
	text-align:center;
	font-size:25px;
}

.thumbnail:hover .overlay
{
	top:0px;
}

.gallery h3
{
	font-size:40px;
	text-align:center;
	color:rgb(0,0,0);
}

.gallery h4
{
	font-size:30px;
}

.title
{
	font-size:30px;
}

.services
{
	background-color:rgb(225,71,187);
	height: auto;
	padding: 50px;
	color:rgb(255,255,255);
}

.heading
{
	font-size:30px;
}

.jumbotron2
{	 
	position:relative;
    background: #055 url("towels-569139_1280.jpg") center center;
	background-attachment:fixed;
    width: 100%;
    height: 40%;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 0;
}

.jumbotron2 h1 
{
	font-size:30px;
	color:rgb(0,0,0);
	text-align:center;
}
.jumbotron2 .container .wrapper 
{
	margin-top:70px;
	text-align:left;
}

.appointment
{
	background-color:rgb(225,71,187);
	height: auto;
	padding: 50px;
	color:rgb(255,255,255);
}

.icon-container 
{
	height: 100px;
	width: 100px;
	border-radius: 50px;
	background-color: rgb(255,255,255);
	display:block;
	margin: 0 auto;
	text-align: center;
}

.contactus
{
	text-align: center;
}

.icon-container .glyphicon
{
	font-size:30px;
	color:rgb(155,89,182);
	line-height: 100px;
}

.whatdo
{
	background-color:rgb(255,255,255);
	padding:40px 0;
}

.whatdo h1
{
	font-size:30px;
	text-align:center;
	color:rgb(0,0,0);
}

.thumb 
{
    margin-bottom:30px;
}
.carousel-content 
{
    color:black;
    display:flex;
    align-items:center;
}

.storymap .message
{
	font-family: 'handlee', serif;
    font-size: 18px;
}

.storymap h3
{
	font-family: 'handlee', serif;
    font-size:28px;
}

.services .col-md-3
{
	min-height:250px;
}

.services .col-sm-6
{
	min-height:250px;
}

#carousel-example .row
{
	margin-left:0;
	margin-right:0;
}

#searchclear 
{
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.imgcontainer
{
	margin:auto;
	text-align: center;
	padding-top:15px;
	float:left;
	text-align:center;
}

.img2container
{
	margin:auto;
	text-align: center;
	padding-top:15px;
	margin-right:15px;
	float:left;
}

.storymap
{
	text-align: center;
}

.services
{
	text-align: center;
}

.appointment .icon-container
{
	margin-bottom:15px;
}

.stats .icon-container .glyphicon 
{
	color:rgb(225, 71, 187);
}

.stuff .icon-container .glyphicon
{
	color:rgb(225, 71, 187);
}

.services .icon-container .glyphicon
{
	color:rgb(225, 71, 187);
}

.appointment .icon-container .glyphicon
{
	color:rgb(225, 71, 187);
}


